{% extends "layout.html" %} 
{% block title %}Finase{% endblock %}

{% block button %}{% endblock %}

{% block content %}

    <div style="position: absolute; width: 300px; height: 500px; left: 20%; margin-top: 5%">
        <div id="card1"></div>
        <div id="card2"></div>
        <div id="entrytext">
            TAKE CONTROL OF YOUR FINANCES. THIS SITE WILL LET YOU MANAGE YOUR SPENDING. <br><br>
            DON’T HAVE AN ACCOUNT YET? CLICK <b>THIS</b> BUTTON
        </div>
        <a href="/register" id="entrytextbutton">REGISTER</a>
    </div>

    <form class="form-log-reg" style="left:75%" method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.email(class="form-log-reg-input", placeholder="EMAIL") }}
        </div>
        <div>
            {{ form.password(class="form-log-reg-input", placeholder="PASSWORD") }}
        </div>
        <div>
            {{ form.submit(class="form-log-reg-button") }}
        </div>
    </form>
{% endblock %}