{% extends "layout.html" %} 
{% block title %}Finase{% endblock %}

{% block button %}

<div class="dropdown">
    <a class="dropdown-toggle logout-button" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Options
    </a>
  
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="/">Home</a>
        <a class="dropdown-item" href="/profile">Profile</a>
        <a class="dropdown-item" href="/logout">Logout</a>
    </div>
</div>

{% endblock %}



{% block content %}
<div class="main-form">
    <div style="padding:10px">
        <form method="POST" class="preview_main_form">
            <a href="/" class="date-button preview_button">BACK</a>
            <input type="month" id=date_picker name="datt" value="{{expense_month}}" onchange="goTo()"/>
            <input type="submit" id="goto" style="display:none">
            <a href="/preview/{{expense_month}}/group" class="date-button preview_button">GROUP</a>
        </form>

        <div class="separator_line_bg"></div>

        <div class="expenses_board">
            {% for expense in expenses %}
                <div class="expense_preview">
                    <div style="width: 20%" class="preview_expense_record">{{ expense.date_created.strftime('%d-%m %H:%M') }}</div>
                    <div style="width: 25%" class="preview_expense_record">{{ expense.name }} </div>
                    {% if expense.label == 'Misc' %}
                        <div style="background-color: #1C84DF" class="expense_label">{{ expense.label }}</div> 
                    {% elif expense.label == 'Bills' %}
                        <div style="background-color: #F0C92C" class="expense_label">{{ expense.label }}</div> 
                    {% elif expense.label == 'Fees' %}
                        <div style="background-color: #4F6D7A" class="expense_label">{{ expense.label }}</div> 
                    {% elif expense.label == 'Transport' %}
                        <div style="background-color: #56A3A6" class="expense_label">{{ expense.label }}</div>
                    {% elif expense.label == 'Food' %}
                        <div style="background-color: #DF433E" class="expense_label">{{ expense.label }}</div> 
                    {% else %}
                        <div class="expense_label">{{ expense.label }}</div> 
                    {% endif %}
                    <div style="width: 25%" class="preview_expense_record">
                        {% if user.currency == "zł" %}
                            {{ expense.amount }} {{ user.currency }}
                        {% else %}
                            {{ user.currency }}{{ expense.amount }}
                        {% endif %}
                    </div>
                </div>
                <div class="separator_line_sm"></div>
            {% endfor %}
        </div>

        <div class="separator_line_bg"></div>

        <div class="preview_totals">
            <div style="width: 100px; text-align: center;">Total:</div> 
            <div style="width: 120px">
                {% if user.currency == "zł" %}
                    {{monthly_rounded}} {{user.currency}}
                {% else %}
                    {{user.currency}}{{monthly_rounded}}
                {% endif %}
            </div>
        </div>
    </div>
    </div>
</div>




<script>
    function goTo() {
        document.getElementById("goto").click();
    }
</script>



{% endblock %}  