{% extends "layout.html" %} 
{% block title %}Finase{% endblock %}

{% block button %}

<div class="dropdown">
    <a class="dropdown-toggle logout-button" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Options
    </a>
  
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="/">Home</a>
      <a class="dropdown-item" href="/profile">Profile</a>
      <a class="dropdown-item" href="/logout">Logout</a>
    </div>
</div>

{% endblock %}

{% block content %}


<div class="main-form">

    
    <div style="padding:10px">

        <form method="POST" class="preview_main_form">
            <a href="/" class="date-button preview_button">BACK</a>
            <input type="month" id=date_picker name="datt" value="{{dada}}" onchange="goTo()"/>
            <input type="submit" id="goto" style="display:none">
            <a href="/preview/{{dada}}" class="date-button preview_button">UNGROUP</a>
        </form>

        <div class="separator_line_bg"></div>

        <div class="expenses_board">
            {% for row in month %}

            <div class="expense_preview">
                {% if row[0] == 'Misc' %}
                    <div style="background-color: #1C84DF" class="expense_label">{{ row[0] }}</div> 
                {% elif row[0] == 'Bills' %}
                    <div style="background-color: #F0C92C" class="expense_label">{{ row[0] }}</div> 
                {% elif row[0] == 'Fees' %}
                    <div style="background-color: #4F6D7A" class="expense_label">{{ row[0] }}</div> 
                {% elif row[0] == 'Transport' %}
                    <div style="background-color: #56A3A6" class="expense_label">{{ row[0] }}</div>
                {% elif row[0] == 'Food' %}
                    <div style="background-color: #DF433E" class="expense_label">{{ row[0] }}</div> 
                {% else %}
                    <div class="expense_label">{{ row[0] }}</div> 
                {% endif %}

                <div style="width: 30%" class="preview_expense_record">
                    {% if user.currency == "zł" %}
                        {{ '%.2f'|format(row[1]) }} {{ user.currency }}
                    {% else %}
                        {{ user.currency }}{{ '%.2f'|format(row[1]) }}
                    {% endif %}
                </div> 
            </div>
            <div class="separator_line_sm"></div>
            {% endfor %}
        </div>

        <div class="separator_line_bg"></div>

        <div class="preview_totals">
            <div style="width: 100px; text-align: center;">Total:</div> 
            <div style="width: 120px">
                {% if user.currency == "zł" %}
                    {{ total }} {{ user.currency }}
                {% else %}
                    {{ user.currency }}{{ total }}
                {% endif %}
            </div>
        </div>
    </div>
    </div>
</div>

<script>
    function goTo() {
        document.getElementById("goto").click();
    }
</script>


{% endblock %}  