{% extends "layout.html" %} 
{% block title %}Finase{% endblock %}

{% block button %}

<div class="dropdown">
    <a class="dropdown-toggle logout-button" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Options
    </a>
  
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="/">Home</a>
      <a class="dropdown-item" href="/profile">Profile</a>
      <a class="dropdown-item" href="/logout">Logout</a>
    </div>
</div>

{% endblock %}

{% block content %}


<div class="main-form">

    
    <div style="padding:10px">

        <form method="POST" style="text-align: center; height: 50px; padding: 10px; display: flex; justify-content: space-between;">
            <a href="/" class="date-button" style="width:100px; display:block; padding: 4px">BACK</a>
            <input type="month" id=date_picker name="datt" value="{{dada}}" onchange="goTo()"/>
            <input type="submit" id="goto" style="display:none">
            <div style="width:100px"></div>
        </form>

    <div style="width: 60%; text-align: center;"></div>
        <div style="width: 100%; height: 2px; background-color: rgb(53, 24, 75); margin-top: 10px; margin-bottom: 10px;"></div>

        <div style="height: 300px; overflow-y: auto; overflow-x: hidden; padding: 10px;">
            {% for expense in expenses %}

            <button class="expense_list" type="button" data-toggle="modal" data-target="#edit{{expense.id}}"> 
                <div style="width: 20%; font-weight: bold;">{{ expense.date_created.strftime('%d-%m %H:%M') }} </div>
                <div style="width: 25%; font-weight: bold;">{{ expense.name }} </div>
                <div style="width: 20%; font-weight: bold;">{{ expense.label }}</div> 
                <div style="width: 25%; font-weight: bold;">
                    {% if user.currency == "zł" %}
                        {{ expense.amount }} {{ user.currency }}
                    {% else %}
                        {{ user.currency }}{{ expense.amount }}
                    {% endif %}
                </div>
            </button>
            <div style="width: 100%; height: 1px; background-color: rgb(53, 24, 75); margin-top: 5px; margin-bottom: 5px;"></div>
            {% endfor %}
        </div>

        <div style="width: 100%; height: 2px; background-color: rgb(53, 24, 75); margin-top: 10px; margin-bottom: 10px;"></div>

        <div style="height: 50px; display:flex; float: right; margin-right: 50px; font-size: 25px;">
            <div style="width: 100px; text-align: center;">Total:</div> 
            <div style="width: 120px">
                {% if user.currency == "zł" %}
                    {{monthly_rounded}} {{user.currency}}
                {% else %}
                    {{user.currency}}{{monthly_rounded}}
                {% endif %}
            </div>
        </div>
    </div>
    </div>
</div>




<script>
    function goTo() {
        document.getElementById("goto").click();
    }
</script>



{% endblock %}  