@import url('https://fonts.googleapis.com/css2?family=Rationale&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
box-sizing: border-box;
}

html body{
margin: 0;
padding: 0;
background-image: url('tapette2.jpg');
}

.navbar {
color: white;
background-color: #F84A4A;
height: 50px;
display:flex;
justify-content: space-between;
text-align: center;
top: 0;
left: 0;
position: fixed;
width: 100%;
position: relative;

}

.title {
letter-spacing: 10px;
font-family: 'Rationale', sans-serif;
margin-left: 10%;
font-size: 25px;
top: 50%;
position: absolute;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
}

.navbutton {
position: absolute;
right: 50px;
top: 50%;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
}

.form-log-reg {
background-color: #F84A4A;
position: absolute;
top: 50%;
left: 50%;
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
width: 300px;
max-height: 400px;
border-radius: 10px;
box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
text-align: center;
padding: 20px;
}

.form-log-reg-input{
text-align: center;
border: none;
font-family: 'Rationale', sans-serif;
color: red;
font-size: 20px;
border-radius: 10px;
width: 80%;
margin-top: 30px;
height: 40px;
box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
}

.form-log-reg-input:focus, .form-log-reg-input:active{
outline: none;
}

.form-log-reg-button{
border: none;
cursor: pointer;
border-radius: 10px;
color: white;
background-color: rgb(43, 71, 229);
font-family: 'Rationale', sans-serif;
width: 80%;
margin-top: 50px;
height: 40px;
font-size: 25px;
}


.form-log-reg-button:hover {
  background-color: rgb(29, 49, 161);
  box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: grey;
  opacity: 1; /* Firefox */
}



#card1 {
  position: absolute; 
  display: block; 
  background-color: rgba(243, 55, 55, 0.6); 
  width: 310px; 
  height: 460px; 
  transform: rotate(-4deg);
  border-radius: 5px;
}

#card2 {
  position: absolute; 
  display: block; 
  background-color: rgba(236, 132, 150, 0.6); 
  width: 330px; 
  height: 440px; 
  transform: rotate(-7deg);
  border-radius: 5px;
}



#entrytext {
  position: absolute; 
  width: 320px; 
  height: 400px; 
  transform: rotate(-3deg); 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  padding: 20px; 
  font-size: 25px; 
  text-align: center; 
  letter-spacing: 3px;
}

#entrytextbutton {
  border: none;
  cursor: pointer;
  border-radius: 10px;
  color: white;
  background-color: rgb(43, 71, 229);
  font-family: 'Rationale', sans-serif;
  width: 180px; 
  height: 40px;
  font-size: 25px;
  position: absolute; 
  left: 25%; 
  bottom: 20%; 
  padding-top: 2px; 
  text-align: center; 
  transform: rotate(-3deg); 
  text-decoration: none;
}

#entrytextbutton:hover {
  background-color: rgb(29, 49, 161);
  box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
}

.logout-button{
  display: block;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  background-color: rgb(43, 71, 229);
  font-family: 'Rationale', sans-serif;
  width: 100px;
  font-size: 20px;
  
  }

.logout-button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(29, 49, 161);
  box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.main-form{
  background-color: rgba(191, 191, 191, 0.7); 
  width: 800px; 
  height:500px; 
  font-weight: bold;
  font-family: Roboto;
  margin: auto;
  margin-top: 5%;  
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(182, 189, 192); 
}

.separator_line_sm {
  width: 100%; 
  height: 1px; 
  background-color: rgb(53, 24, 75); 
  margin-top: 5px; 
  margin-bottom: 5px;
}

.separator_line_bg {
  width: 100%; 
  height: 2px; 
  background-color: rgb(53, 24, 75); 
  margin-top: 10px; 
  margin-bottom: 10px;
}

.list-in-form {
  background-color: #EBEBEB;
  width: 80%;
  height: 80%;
  border-radius: 10px;
  position: absolute;
  bottom: 5%;
  left: 50%;
  -ms-transform: translate(-50%);
  transform: translate(-50%);
}

.date-button {
  background-color: rgb(43, 71, 229);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  font-size: 15px;
  width: 80px;
  font-family: 'Rationale', sans-serif;
  border: none
}

.date-button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(29, 49, 161);
  box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.expenses_listing {
  position: absolute;
  right: 10%;
  top: 40%;
  background-color: red;
}

#date_picker {
  border-radius:5px; 
  outline:none;
  background-color: rgb(220, 220, 220); 
  cursor: pointer;
}


.expense_list {
  display: flex; 
  justify-content: space-between;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 10px;
  width: 100%; 
  border: none;
  outline: 0;
  box-shadow: none;
  background-color: rgba(191, 191, 191, 0.0);
}

.expense_list:hover {
  background-color: rgba(191, 191, 191, 0.3);
}

.expense_list:focus {
  outline: 0; 
}


.expense_preview {
  display: flex; 
  justify-content: space-between;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 10px;
  width: 100%; 
  border: none;
  /* outline: 0;
  box-shadow: none; */
  background-color: rgba(191, 191, 191, 0.0);
}

.expense_preview:hover {
  background-color: rgba(191, 191, 191, 0.3);
}



.add_expense_form {
  width: 100%; 
  height: 50px; 
  border:none; 
  text-align: center; 
  border-radius: 5px; 
  background-color: #C5C5C5; 
  margin-top:10px; 
  margin-bottom:10px;
}

.add_expense_button {
  display: block;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  background-color: rgb(43, 71, 229);
  font-family: 'Rationale', sans-serif;
  /* width: 100px; */
  font-size: 20px;
  
  margin: auto; 
  width: 100%; 
  height: 50px; 
  margin-top: 10px;
  border: none
}

.add_expense_button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(29, 49, 161);
  box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.update_expense_form {
  width: 200px; 
  height: 50px; 
  border:none; 
  text-align: center; 
  border-radius: 5px; 
  background-color: #C5C5C5; 
  margin-top:10px; 
  margin-bottom:10px;
  text-overflow: ellipsis; 
  overflow: hidden;
}

.update_input_label {
  font-size:12px; 
  height: 15px; 
  position: absolute; 
  left: 5px; 
  top: -10px
}

.update_button{
  display: block;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  background-color: rgb(43, 71, 229);
  font-family: 'Rationale', sans-serif;
  font-size: 20px;
  
  border: none;
  width: 100px; 
  height: 50px; 
  margin-top: 10px
}

.update_button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(29, 49, 161);
  box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.delete_button {
  display: block;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  background-color: red;
  font-family: 'Rationale', sans-serif;
  font-size: 20px;
  width: 100px; 
  border: none;
  height: 50px; 
  margin-top: 10px
}

.delete_button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(152, 9, 9);
  box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.rusure {
  font-family: Play; 
}


 .modal-dialog {
  margin: auto;
  margin-top: 100px;
  
}

.modal-content {
  background-color: rgba(191, 191, 191, 0.95);
}


.monthly_expenses_button {
  text-decoration: none;
  color: rgb(40, 40, 40)
}

.monthly_expenses_button:hover {
  text-decoration: none;
  
  font-weight: 900;
}

.expense_label {
  width: 20%; 
  font-weight: bold; 
  color: white; 
  text-align: center; 
  border-radius: 5px; 
  height: 24px;
}

.expense_content {
  font-weight: bold; 
  text-overflow: ellipsis; 
  overflow: hidden; 
  height: 24px;
}

.preview_totals {
  height: 50px; 
  display:flex; 
  float: right; 
  margin-right: 50px; 
  font-size: 25px;
}

.home_totals_row {
  font-size: 20px; 
  display:flex; 
  justify-content: space-between; 
  padding-right: 15px; 
  padding-left: 35px;
}

.home_totals_row_amount {
  width: 120px; 
  text-overflow: ellipsis; 
  overflow: hidden; 
  height: 30px;
}

.preview_main_form {
  text-align: center; 
  height: 50px; 
  padding: 10px; 
  display: flex; 
  justify-content: space-between;
}

.preview_button {
  width:100px; 
  display:block; 
  padding: 4px
}

.preview_expense_record {
  font-weight: bold; 
  text-align: center;
}

.expenses_board {
  height: 300px; 
  overflow-y: auto; 
  overflow-x: hidden; 
  padding: 10px;
}

.profile_separator_bg {
  height: 2px; 
  width:100%; 
  margin-top: 10px; 
  background-color:#232121
}

.profile_separator_sm {
  height: 1px; 
  width:100%; 
  margin-top: 10px; 
  margin-bottom: 10px; 
  background-color:#342f2f
}

  /* Scrollbar styling */
::-webkit-scrollbar {
  width: 10px;
  margin-right:30px;
 
  /* display: none; */
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
  background-color: rgba(200, 200, 200, 0.2);
  border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
  background: rgba(50, 50, 50, 0.3); 
  border-radius: 10px;
 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
  background: rgba(69, 108, 225, 0.6); 
  }
  /* === */



  select {
    font-size: 16px;
    line-height: 1;
    border: 0;
    color: grey;
    border-radius: 5px;
    height: 34px;
    /* to jest plik ikony i zastepuje ona webkit appearance a potem mozna ta ikone przesuwac za pomoca background-position, zajebiscie */
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #ddd;
    -webkit-appearance: none;
    background-position-x: 95%;
}